{{ define "title"}}By Opening Date{{ end }}

{{ define "main" }}
{{ .Content }}

<p>
There are {{ len (where .Site.Data.bars ".opening_date" "eq" nil ) }} bars without opening dates but {{  len (where .Site.Data.bars ".opening_date" "ne" nil ) }} with so we're not doing too bad. </p>
<table>
{{- $year := "0000"  -}}
{{- range sort (where .Site.Data.bars ".opening_date" "ne" nil) ".opening_date" -}}
{{- $cyear := (substr .opening_date 0 4) -}}
{{- if ne $year $cyear -}}
{{- $year = $cyear }}
<tr><td colspan="2"><h2>{{ $year }}</h2></td>
   </tr>
{{- end -}}
<tr><td>{{ partial "day-month-fixed" .opening_date }}</td>
       <td><a href="/bars/{{ .id }}/">{{ .name }}</a>&nbsp;
{{- if .closing_date -}} (closed {{ partial "date" .closing_date }})
{{- else if eq .status "closed" -}}(closed)
{{- end -}}</td>
   </tr>
{{ end }}
</table>
{{ end }}
