<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ end }} - {{ .Site.Title }}</title>
    <link rel="stylesheet" href="/style.css">

  </head>
  <body>
  <div id="main">
    <div id="navbar">
      <a href="/bars/">All</a>
      <a href="/status/">Statuses</a>
      <a href="/country_name/">Countries</a>
      <a href="/bartype/">Types</a>
      <a href="/opening/">Opening Dates</a>
      <a href="/closing/">Closing Dates</a>
    </div>
    <div id="content">
    {{ block "main" . }}
    {{- end -}}
    </div>
	  </div>
  </body>
</html>
